<style>
    html {
        font-family: 'Segoe Script';
    }

    body {
        color: rgba(255, 255, 255, 0.4);
        background-color: floralwhite;
        background-size: contain;
    }

    .center {
        position: absolute;
        align-content: center;
    }

    h1 {
        color: rgba(0, 0, 0, 0.7);
        font-size: 35px;
        align-content: center;
        margin: 30px;
        text-align: center;
    }
    
    .bg
    {
    margin: 0px;
    position: absolute;
    width: 100%;
    z-index: 0;
    }
</style>

<body>
    <img class="bg" src="http://imgur.com/CfMQEBr.png" />
</body>
