
<style>
    html {
        font-family: 'Segoe Script';
    }

    body {
        color: rgba(255, 255, 255, 0.4);
        background-color: floralwhite;
        background-size: contain;
    }

    .center {
        position: absolute;
        align-content: center;
    }

    h1 {
        color: rgba(0, 0, 0, 0.7);
        font-size: 35px;
        align-content: center;
        margin: 30px;
        text-align: center;
    }
.bg
{
    margin: 0px;
    position: absolute;
    width: 100%;
    z-index: 0;
}
</style>

<body>
    <img class="bg" src="http://imgur.com/CfMQEBr.png" />
    @*<nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
       
            <ul class="right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
            </section>
        </nav>*@
            @*<div class="row">
                    <div class="large-12 columns">
                        <h1>Future Of Packing</h1>
                    </div>
                </div>*@
</body>

@*<style>
    html {
        font-family: 'Segoe Script';
    }

    body {
        color: floralwhite;
        background-color: #E6E6E6;
        text-align: center;
        background-size: contain;
    }

    .center {
        /*left: 0;
        line-height: 200px;
        margin: auto;
        margin-top: -100px;
        margin-bottom: 10px;*/
        position: absolute;
        align-content: center;
    }

    p {
        color: floralwhite;
        font-size: 30px;
        text-shadow: 1px 1px 2px black;
        margin-top: 30px;
    }
    span {
        display: block;
        height: 600px;
        width: 600px;
        line-height: 600px;
        -moz-border-radius: 300px;
        border-radius: 300px; 
        background-color: floralwhite;
        align-content: center;
        font-size: 2em;
        top: 50%;
        left: 50%;
        margin: -300px 0 0 -300px;
    }

    img {
        line-height: 200px;
        margin-top:0px;
    }

   
</style>
<body>
    <p>Customize &amp; Order with Arka</p>
    <span class="center">
     
        <img src="//res.cloudinary.com/arka/image/upload/c_scale,q_80,w_280/prod/pages/about/phillip.jpg">
       
     </span>
</body>*@
